    /***** TAG SELECTORS ******/

    /****** CLASS SELECTORS ******/


.body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Navigation and Main page */
.navbar {
    padding: 0 0 4.5rem;
}
.nav-item {
    padding: 0 1.5rem;
}
.container-fluid {
    padding: 3% 15%;
}
.container-fluid a {
    font-size: 1.2rem;
}
.section-1-h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.3rem;
    line-height: 1.5;
    padding-bottom: 2rem;
}
.download-button {
   margin-right: 1rem;
}
.section-1-container-2 {
    margin-top: 3rem;
}
.img-rotation {
    width: 60%;
    transform:rotate(25deg);
    position: absolute;
    right: 25%;
}

@media (max-width: 425px) { 
    #title {
        height: 100% !important;
    }
    .download-button {
        margin-right: 0 !important;
        margin-bottom: 0.5rem;
    }
}


@media (max-width: 1024px) {
    .main-page {
        text-align: center;
    }
    .section-1-h1 {
        font-size: 2.5rem;
    }
    .buttons {
        padding: 0 2px;
        margin: 0;
    }
    .img-rotation {
        position: static;
        transform:rotate(0);
    }
}


/* Features */

.icon {
    color: #ef8172;
}
.icon:hover {
    color: #ff4c68;
}
.feature {
    width: 40%;
    padding: 1rem 2rem;
}
.feature h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.feature p {
    color: #8f8f8f;
    text-align: center;
    width: 85%;
}

/* Testimonials */

.testimonial h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.7rem;
    line-height: 1.5;
    padding: 0 7rem 3rem 7rem;
    width: 60%;
}
.testimonial img {
    width: 10%;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 100px 20px;
}
@media (max-width: 425px) {
    .carousel-item h2 {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
        padding: 0;
    }
}


/* Pricing */

.pricing-table h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.pricing-table h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-bottom: 0;
}
.offer {
    padding-top: 2rem;
}
.extra-space {
    margin-top: 3.5rem;
}

/* Call to Action */

.cta-box {
    margin: 0 auto;
    padding: 5% 15%;
    width: 85%;
}
.cta-box h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
}
.cta-buttons button {
    margin: 30px 10px 50px;
}

/* Footer */

.media-icons {
    position: relative;
    display: inline-block;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}
.footer-box p {
    color: #8f8f8f;
}

    /****** ID SELECTORS ******/

/* Navigation and Main page  */

#tindog {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
}
#title {
    background-color: #ff4c68;
    height: 90vh;
    overflow: hidden;
}

/* Features */

#features {
    padding: 8rem 0;
    background-color: white;
}


/* Testimonials */

#testimonials {
    background-color: #ef8172;
    color: white;
    padding: 8rem 0;
    text-align: center;
}

#press {
    background-color: #ef8172;
    text-align: center;
}

/* Pricing */

#pricing {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding: 8rem 0;
}

/* Call to Action */

#cta {
    background-color: #ff4c68;
    text-align: center;
}

/* Footer */

#footer {
    background-color: white;
    padding: 70px 0 50px;
    text-align: center;
}