/***** TAG SELECTORS ******/

/****** CLASS SELECTORS ******/


/* Container-1 */

.body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.navbar {
    padding: 0 0 4.5rem;
}
.nav-item {
    padding: 0 1.5rem;
}
.container-fluid {
    padding: 3% 15%;
}
.container-fluid a {
    font-size: 1.2rem;
}
.section-1-h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.3rem;
    line-height: 1.5;
    padding-bottom: 2rem;
}
.download-button {
   margin-right: 1rem;
}
.section-1-container-2 {
    margin-top: 7rem;
}
.img-rotation {
    width: 60%;
    transform:rotate(25deg);
}


/* Container-2 */

.icon {
    color: #ef8172;
}
.icon:hover {
    color: #ff4c68;
}
.feature {
    width: 40%;
    padding: 1rem 2rem;
}
.feature h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.feature p {
    color: #8f8f8f;
    text-align: center;
    width: 85%;
}

/* Container-3 */

.testimonial h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.7rem;
    line-height: 1.5;
    padding: 0 7rem 3rem 7rem;
    width: 60%;
}
.testimonial img {
    width: 10%;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 100px 20px;
}


/****** ID SELECTORS ******/


/* Container-1 */

#tindog {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
}
#title {
    background-color: #ff4c68;
    height: 90vh;
    overflow: hidden;
}


/* Container-2 */

#features {
    padding: 8rem 0;
}


/* Container-3 */

#testimonials {
    background-color: #ef8172;
    color: white;
    padding: 8rem 0;
    text-align: center;
}

#press {
    background-color: #ef8172;
    text-align: center;
}